<div id="image-carousel" class="splide">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <img src="http://localhost:3000/img/resources/Banners/ban1.jpeg" height="450px" class="d-block rounded w-100" />
            </li>
            <li class="splide__slide">
                <img src="http://localhost:3000/img/resources/Banners/ban2.jpeg" height="450px" class="d-block rounded w-100" />
            </li>
            <li class="splide__slide">
                <img src="http://localhost:3000/img/resources/Banners/c2.jpeg" height="450px" class="d-block rounded w-100" />
            </li>
            <li class="splide__slide">
                <img src="http://localhost:3000/img/resources/Banners/c3.jpeg" height="450px" class="d-block rounded w-100" />
            </li>
        </ul>
    </div>

    <div class="splide__progress">
        <div class="splide__progress__bar"></div>
    </div>
</div>